  <div class="wrapper">
      <video id="my-video" class="video-js" loop="true" muted autoplay preload="auto" width="100%" height="10%"
      poster="/assets/videothumbnail.png" data-setup="{}">
        <source src="assets/moca_mov.mp4" type='video/mp4'>
        <h1>asudhisd</h1>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      <h1 id="videotext">Do you have scratches or dents on your car?</h1>
    <div id="ojtitle">
      <h1>We, MOCA</h1>
    </div>
    <div id="descriptivetext">
      <h2><font color="#EF5F2B">will certainly help you out!</font></h2>
      <h2>MOCA (Mobile Car Auto Body Estimator) connects<br> people with <font color="#EF5F2B">ICBC Accredited Auto Body Shops</font> with<br> high quality service in <font color="light-blue">Metro Vancouver</font></h2>
      <h2>MOCA aleviates the stress and hassle<br> that was recognized when drivers need to repair their cars</h2>
      <h1 id="servicearea"><font color="#EF5F2B">Service Area</font></h1>
    </div>
    <div id="map">
      <img src="/assets/map.jpg" alt="Vancouver Map"/>
    </div>
    <div id="descriptivetext2">
      <h2><font color="light-blue">Send us three photos of the damaged part today.</font><br>We, then, provide you with estimates from nearby<br><font color="#EF5F2B">3~5 different auto body shops</font> within 24 hours.<br>And <font color="red">it's FREE</font> for you.<br>You will select one you like and get your car fixed.</h2>
    </div>
    <div id="ojtitle2">
      <h1>Benefits</h1>
    </div>
    <div id="descriptivetext3">
      <h1>A. Convenient</h1>
      <h2>:: Simply 4 photos will get you estimates from nearby 3~5 different <br>local auto body shops.</h2>
      <h2>:: Send the photos to us via our website, Email, or Facebook <br>message.</h2>
      <h1>B. Fast</h1>
      <h2>:: Within 24 hours, you will receive 3 ~ 5 estimates.</h2>
      <h1>C. Informative</h1>
      <h2>:: MOCA will send you profiles of the auto body shops.<br>You will have more information than just price</h2>
      <h1>D. Reliable</h1>
      <h2>:: All our partner auto body shops are ICBC accredited and deliver <br>superior quality.</h2>
      <h1>E. Free</h1>
      <h2>:: Yes! It's free.</h2>
    </div>
    <div id="quotes">
      <img src="/assets/quotation.png" alt="Quotation Icon"/>
      <h2><font color="#EF5F2B">GET FREE <br>QUOTES NOW!</font></h2>
    </div>
  </div>