 <div class="wrapper">
    <header class="blogintro intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>MOCA Blog</h1>
                        <hr class="small">
<!--                         <span class="subheading">A Clean Blog Theme by Start Bootstrap</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="orangeline">
    <div id="previous">
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Prev Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 26 2016</h2>
        </div>
      </div>
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Prev Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 25 2016</h2>
        </div>
      </div>
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Prev Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 24 2016</h2>
        </div>
      </div>
    </div>
    
    <div id="currentblogtitle">
      <div class="col-md-3">
        <h1>Blog Title Here</h1>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <h1>16.10.24</h1>
      </div>
    </div>

    <div id="currentblog">
      <img src="<%= asset_path("slider_3.jpg") %>" alt="Current Blog">
    </div>
    
    <div id="contenttext">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida scelerisque feugiat. Mauris semper fermentum purus, sit amet egestas quam varius id. Donec vel sagittis justo. Vivamus mollis efficitur porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam nunc, bibendum sed elit non, viverra auctor nibh. Vivamus scelerisque nibh sed lorem ultricies tempor. Nulla non nulla metus. Vivamus pulvinar neque ac consequat malesuada. Ut sed odio sit amet risus bibendum gravida. Etiam pharetra sapien non leo varius pellentesque. Nulla venenatis feugiat risus, in tempor augue mattis eget. Aliquam congue eros lorem, eget mattis urna tincidunt congue. Sed condimentum, mi molestie sagittis semper, sapien odio mattis sem, quis interdum augue nulla quis nisi. Fusce fringilla tellus vitae erat commodo, nec porta neque suscipit.</p>

      <p>Morbi pellentesque quis velit non tincidunt. Curabitur consectetur nulla laoreet est vulputate, id aliquet mi finibus. Sed mattis sit amet urna id scelerisque. In sollicitudin facilisis nisl et eleifend. Cras in massa ac velit sollicitudin posuere vel vitae nulla. Praesent eu nulla et erat interdum cursus id et eros. Quisque dolor ex, congue eu volutpat ac, egestas sit amet lectus. Curabitur tortor neque, cursus interdum ipsum non, laoreet suscipit nisl. Phasellus tincidunt nisi in nibh convallis malesuada.</p>

      <p>Nullam lorem massa, fermentum id ipsum nec, aliquet accumsan ex. Etiam porttitor eleifend finibus. Suspendisse et lorem justo. Aenean metus lectus, vehicula at mauris ut, egestas ornare augue. Maecenas non ullamcorper urna. Duis congue, lectus cursus viverra bibendum, urna neque tempus dui, id mattis urna diam id massa. Mauris pretium convallis ante eu pharetra. Cras lorem risus, interdum at volutpat vitae, ullamcorper at justo. Mauris ultricies urna mi, sed porta velit ultricies vitae. Etiam consequat blandit enim vitae aliquet. Quisque elementum metus quis dolor ullamcorper sodales. Nulla a magna eleifend, pellentesque felis quis, bibendum lectus. Sed nisl ipsum, rhoncus in varius a, tempor non orci. Fusce at risus eget lectus malesuada rhoncus. Vestibulum sit amet lacus eu purus tempus vestibulum. Ut ut risus nulla.</p>

      <p>Pellentesque quis mollis lacus, at viverra nunc. Aenean tristique consequat lacus vel imperdiet. Vivamus at risus id mauris mollis porta. Vivamus nec nunc sit amet nulla aliquet porttitor. Integer et nibh bibendum, aliquet ligula sed, pellentesque mi. Morbi dignissim, neque quis placerat tempus, mauris neque elementum tellus, sit amet ultrices leo arcu sed mi. Duis tempus ipsum a nunc ornare egestas. Praesent malesuada nisi ut gravida euismod. Aenean eu leo egestas, auctor nibh in, lobortis ipsum. Mauris condimentum tellus ut ante faucibus efficitur. Curabitur cursus ante dignissim leo efficitur rhoncus vel sed ligula. Curabitur ut justo porttitor felis pulvinar feugiat. Phasellus congue a dolor in bibendum.</p>

      <p>Duis at tristique metus. Sed vitae purus suscipit elit scelerisque cursus vel nec urna. In non viverra enim. In ut libero a nulla euismod molestie mollis et dolor. Aenean mollis ipsum ut nibh tincidunt, vel finibus ligula semper. Suspendisse tempus blandit velit, sed consectetur mauris congue ac. Praesent non odio et enim efficitur fringilla et non nisl. Vestibulum mollis dolor ac mattis volutpat. Morbi et arcu sit amet nibh facilisis tincidunt non ut mauris. Nunc efficitur dui nisl, vitae tincidunt augue porta ac. Quisque commodo massa quis purus venenatis ornare. Vestibulum id commodo orci. Donec congue turpis at tempor laoreet. Nullam sed fermentum mauris.</p>
    </div>
    <h1>Content Text and imgs are put here.</h1>
    <div id="blogsocialmedia" class="row">
      <div class="col-md-3">
        <a href="https://www.facebook.com/mocaestimator/?fref=ts">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://plus.google.com/114693879745430004744">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://plus.google.com/114693879745430004744">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://plus.google.com/114693879745430004744">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div id="bloguserinfo" class="row">
      <div class="col-xs-5 col-md-2">
        <form>
          <input class="sb-search-input" style="border:none; border-bottom: 1px #EF5F2B solid;" placeholder="User Name" type="text" value="" name="search" id="search">
        </form>
      </div>
      <div class="col-xs-5 col-md-2">
        <form>
          <input class="sb-search-input" style="border:none; border-bottom: 1px #EF5F2B solid;" placeholder="Password" type="text" value="" name="search" id="search">
        </form>
      </div>
    </div>
    <div id="blogcomment" class="row">
      <div class="col-xs-10 col-md-9">
        <form>
          <input id="newcomment" class="sb-search-input" style="border:none; border-bottom: 1px #EF5F2B solid; padding-bottom: 0.4%;" placeholder="Put Comment Here" type="text" value="" name="search" id="search">
        </form>
      </div>
      <div class="col-md-2">
        <button id="commentsubmit">Comment</button>
      </div>
    </div>
    <div id="comments">
      <h1>Comments (2)</h1>
      <div class="row">
        <div class="col-xs-11 col-md-11">
          <h1><font color=#3393C8>This_is_your_ID</font><a><font color="#EF5F2B">Delete</font></a></h1> 
          <h2>Comment is here. you can just write and delete. and showed up 10 comment per page.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-md-11">
          <h1><font color=#3393C8>This_is_someones</font></h1> 
          <h2>Comment is here. you can just write and delete. and showed up 10 comment per page.</h2>
        </div>
      </div>
    </div>
    <div id="next">
      <hr class="orangeline">
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Next Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 26 2016</h2>
        </div>
      </div>
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Next Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 25 2016</h2>
        </div>
      </div>
      <div class="row blog">
        <div class="col-md-3">
          <a href="#"><h1>-> Next Post C</h1></a>
        </div>
        <div class="col-md-7">
        </div>
        <div class="col-md-2">
          <h2>October 24 2016</h2>
        </div>
    </div>
  </div>