  <div id="footer" class="container">
    <img id="logo2" src="<%= asset_path("logo-1.png") %>" alt="Logo Icon">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-xs-12 col-md-3">
        <h1>Contact Us</h1>
        <h2 class="footertext"><i class="fa fa-envelope" aria-hidden="true"></i> info@MOCAestimator.com</h2>
        <h2 class="footertext"><i class="fa fa-phone" aria-hidden="true"></i> (604) 704-4782</h2>
      </div>
      <div id="socialmedia" class="col-xs-12 col-md-3">
        <h1>Follow Us</h1>
        <a href="https://www.facebook.com/mocaestimator/?fref=ts">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://plus.google.com/114693879745430004744">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <h3>© 2016 MOCAestimator All Rights Reserved.</h3>
  </div>